.imagethumbWrapper{

    position: relative;
    display: inline-block;
    .fa-times{
        position: absolute;
        right: -6px;
        line-height: 20px;
        text-align: center;
        width: 20px;
        top: -12px;
        cursor: pointer;
        font-size: 10px;
        border-radius: 50%;
        background-color: #ff59596e;
        object-fit: contain;
        color: #4a4a4a;
    }
    img{
        width: 100px;
        height: 100px;
        border-radius:50px; 
    }
}
